.footer-container {
  background-color: #fff; 
  color: #555; 
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
 
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.footer-column {
  flex: 1 1 200px;
  padding: 0 1rem;
}

.footer-column h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #daa520; 
}

.footer-column p,
.footer-column li {
  font-size: 0.875rem;
  color: #555; 
  margin: 0.25rem 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li a {
  color: #1a3d7c; 
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
}

.footer-column ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background: #daa520; 
  border-radius: 2px;
  transition: width 0.3s ease;
}

.footer-column ul li a:hover::after {
  width: 100%;
}

.footer-bottom {
  text-decoration: none;
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #555;
}

.social-icons {
  display: flex;
  gap: 0.5rem;
}

.social-icons a img {
  width: 24px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.social-icons a img:hover {
  transform: scale(1.2) rotate(5deg);
}

.footer-disclaimer {
  font-size: 0.7rem;
  color: #555; 
  line-height: 1.4;
  border-top: 1px solid #e0e0e0; 
  padding-top: 2rem;
  text-align: center;
}



@media (max-width: 768px) {
  .footer-container {
    padding: 1rem; 
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; 
  }

  .footer-column {
    align-items: center;
    text-align: center; 
    gap: 0.25rem;
  }

  .footer-column h3 {
    font-size: 1rem;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icons a img {
    width: 20px;
    height: 20px;
  }

  .footer-disclaimer {
    font-size: 0.65rem;
    padding-top: 1rem;
  }
}
