.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around; /* distribui logo e links com espaço equilibrado */
  padding: 0 2rem;
  width: 100%;
  height: 6rem;
  background-color: #1a3d7c; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 7rem;
  height: 50%;
  border-radius: 25px;
  padding: 0;
  display: block;
}

.links {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.links a {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  transition: all 0.3s ease;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background: #ff3292;
  border-radius: 3px;
  transition: width 0.3s ease;
}

.links a:hover::after {
  width: 100%;
}

.logoutButton {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}


.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}


.hamburger {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(8px);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
  
    justify-content: space-between;
    height: auto;
    padding: 1rem;
    position: relative; 
  }

  .logo {
    width: 7rem;
    height: 100%;
    margin-bottom: 0;
  }

  .menuToggle {
    display: block; 
    margin-top: 0; 
  }

  .links {
    position: absolute;
    top: 100%; 
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    flex-direction: column;
    width: 100%;
    background-color: #1a3d7c; 
    padding: 0; 
    gap: 1rem;
    margin-top: 0; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

  .linksOpen {
    max-height: 300px;
    padding: 1rem 0;
  }

 
  .navOpen .hamburger {
    background-color: transparent; 
  }

  .navOpen .hamburger::before {
    transform: translateY(0) rotate(45deg);
  }

  .navOpen .hamburger::after {
    transform: translateY(0) rotate(-45deg);
  }

  .links a,
  .logoutButton {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.1rem;
    width: 90%; 
    margin: 0 auto;
    border-bottom: 1px solid #102a54; 
  }

  .links a:last-of-type,
  .links > .logoutButton {
    border-bottom: none;
  }
}